.logo{
    display: flex;
    justify-content: flex-end;
    
}
.center{
    text-align: center;
}
.form{
    border: 2px solid black;
}
.button{
    display: flex;
    justify-content: flex-end; 
    
}
.detail{
    width: 75%;
    margin: auto;

 
}
.margin{
    margin-bottom: 10px;
}
.right{
    margin-right: 4px;
}
